a {
    text-decoration: none;
    color: white;
}  
a:hover, a:active{
    color: lightgrey;
}
.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.logout-button {
    background-color: transparent; /* Háttérszín eltávolítása */
    border: none; /* Keret eltávolítása */ 
    color: white;
  }
  .icon-center {
    display: flex;
    align-items: center; /* Tartalmat függőlegesen középre igazítja */
    justify-content: center; /* Tartalmat vízszintesen középre igazítja */
    padding-top: 4px;
}