<app-menusite id="menu"></app-menusite>
<div class="searchbar">
  <div class="bardiv">
    <mat-expansion-panel hideToggle class="bar">
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          Kereső
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="search-content">
        <mat-form-field class="input-field">
          <input matInput type="text" placeholder="Név" [(ngModel)]="searchName">
        </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="number" placeholder="Tárhely" [(ngModel)]="searchStorage">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="number" placeholder="Ram" [(ngModel)]="searchRam">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="Felbontás" [(ngModel)]="searchResolution">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="number" placeholder="Kijelző" [(ngModel)]="searchScreen">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="Processzor" [(ngModel)]="searchProc">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="Grafikus kártya" [(ngModel)]="searchGrafic">
      </mat-form-field><br>
      <mat-form-field class="input-field">
        <input matInput type="text" placeholder="Operációs rendszer" [(ngModel)]="searchOpSys">
      </mat-form-field><br>
      <mat-slide-toggle class="switch" [(ngModel)]="isOnSale">Akciós</mat-slide-toggle><br>

      </div>
      <div class="action">
        <button  (click)="search()" class="search">Keresés</button><br>
        <button  (click)="delete()" class="delete">Keresés feltételek törlése</button>

      </div>
    </mat-expansion-panel>
  </div>
</div>
<div class="carddiv">
    <div class="card responsive-grid">
      <mat-card class="card" *ngFor="let laptop of laptopSlice">
        <mat-card-header *ngIf="laptop.discount == 1" class="discount-header">
          <span class="discount-title">Akció</span>
        </mat-card-header>
        <img [src]="assetUrl+laptop.main_picture" alt="Laptop" >
        <mat-card-content style="text-align: center;">
          <span style="font-weight: bold;">{{ laptop.name }}</span><br>
          <span>{{ laptop.screen }}" - {{ laptop.resolution }}</span><br>
          <span>{{ laptop.processor }}</span><br>
          <span>{{ laptop.ram }}</span><br>
          <span>{{ laptop.ssd }}</span><br>
          <span>{{ getOpName(laptop.op_system_id) }}</span><br>
          <span *ngIf="laptop.discount == 1; else regularPrice" style="text-decoration: line-through;">{{ laptop.price }} Ft</span><br>
          <ng-template #regularPrice>{{ laptop.price }} Ft</ng-template>
          <span *ngIf="laptop.discount == 1" class="discount-number">{{ laptop.discountprice }} Ft</span><br>
        </mat-card-content>
        <mat-card-actions>
          <button class="kosar" mat-button (click)="addCartLaptop(laptop)">Kosárba</button>
          <button mat-button (click)="checkLaptop(laptop)">Megtekint</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <mat-paginator [length]="this.laptops.length"
                 [pageSize]="8"
                 [pageSizeOptions]="[8,12,16]"
                 (page)="OnPageChange($event)">


  </mat-paginator>
<app-footer id="footer"></app-footer>