.mat-icon{
    font-size: medium;
    vertical-align: middle;
}

.edit{
    background-color: transparent; /* Háttérszín eltávolítása */
    border: none; /* Keret eltávolítása */
}

.mat-table {
    width: 50%;
    margin: auto;
  }