<h2 mat-dialog-title id="title">{{ pendrive.name }}</h2>
<div id="slideshow">
    <img [src]="assetUrl + imagesPendrive[i]" alt="ssd">
</div>

<span id="paginator">
    <button *ngIf="getLenght()" (click)="prev()" mat-button>Prev</button>
    <button *ngIf="getLenght()" (click)="next()" mat-button>Next</button>
</span>
<h3 id="data">Adatok</h3>
<div class="line"></div>
<span class="datas">Sku: {{ pendrive.sku }}</span>
<span class="datas">Tárhely: {{ pendrive.storage }} GB</span>
<span class="datas">Írássebesség: {{ pendrive.storage }} MB/S</span>
<span class="datas">Jótállás: {{ pendrive.warranty }}</span>
<span *ngIf="pendrive.discount == 0" class="datas">Ár: {{ pendrive.price }} Ft</span>
<span *ngIf="pendrive.discount == 1" class="discount">Akciós ár: {{ pendrive.discountprice }} Ft</span>




<button class="kosar" mat-button (click)="addToCart(pendrive)">Kosárba</button>
<button (click)="close()" mat-button>Bezár</button>