<app-menusite id="menu"></app-menusite>
<div class="tartalom">
  <div class="center">
      <div class="wide-div">
          <h1>Üdvözlöm az oldalon!</h1>
          <p>Ez az oldal egy Szakdolgozat</p>
          <p>Címe: Hardvereszközöket árusító portál.</p>
      </div>
  </div>
  <div class="cim">
    <h1>Termék ajánló</h1>
  </div>
  <div class="ajanlok">
    <h2>Laptopok</h2>
  </div>
  <div class="carddiv">
      <div class="card responsive-grid">
        <mat-card class="card" *ngFor="let laptop of laptops">
          <mat-card-header *ngIf="laptop.discount == 1" class="discount-header">
            <span class="discount-title">Akció</span>
          </mat-card-header>
          <img [src]="assetUrl+laptop.main_picture" alt="Laptop" >
          <mat-card-content style="text-align: center;">
            <span style="font-weight: bold;">{{ laptop.name }}</span><br>
            <span>{{ laptop.screen }}" - {{ laptop.resolution }}</span><br>
            <span>{{ laptop.processor }}</span><br>
            <span>{{ laptop.ram }}</span><br>
            <span>{{ laptop.ssd }}</span><br>
            <span>{{ getOpName(laptop.op_system_id) }}</span><br>
            <span *ngIf="laptop.discount == 1; else regularPrice" style="text-decoration: line-through;">{{ laptop.price }} Ft</span><br>
            <ng-template #regularPrice>{{ laptop.price }} Ft</ng-template>
            <span *ngIf="laptop.discount == 1" class="discount-number">{{ laptop.discountprice }} Ft</span><br>
          </mat-card-content>
          <mat-card-actions>
            <button class="kosar" mat-button (click)="addCartLaptop(laptop)">Kosárba</button>
            <button mat-button (click)="checkLaptop(laptop)">Megtekint</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>  
  <div class="ajanlok">
    <h2>SSD</h2>
  </div>
  <div class="carddiv">
      <div class="card responsive-grid">
        <mat-card class="card" *ngFor="let s of ssd">
          <mat-card-header *ngIf="s.discount == 1" class="discount-header">
            <span class="discount-title">Akció</span>
          </mat-card-header>
          <img [src]="assetUrl+s.main_picture" alt="SSD" >
          <mat-card-content style="text-align: center;">
            <span style="font-weight: bold;">{{ s.name }}</span><br>
            <span>{{ s.storage }} GB</span><br>
            <span *ngIf="s.discount == 1; else regularPrice" style="text-decoration: line-through;">{{ s.price }} Ft</span><br>
            <ng-template #regularPrice>{{ s.price }} Ft</ng-template>
            <span *ngIf="s.discount == 1" class="discount-number">{{ s.discountprice }} Ft</span><br>
          </mat-card-content>
          <mat-card-actions>
            <button class="kosar" mat-button (click)="addCartSSD(s)">Kosárba</button>
            <button mat-button (click)="checkSSD(s)">Megtekint</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
  <div class="ajanlok">
    <h2>RAM</h2>
  </div>
  <div class="carddiv">
      <div class="card responsive-grid">
        <mat-card class="card" *ngFor="let r of ram">
          <mat-card-header *ngIf="r.discount == 1" class="discount-header">
            <span class="discount-title">Akció</span>
          </mat-card-header>
          <img [src]="assetUrl+r.main_picture" alt="Ram" >
          <mat-card-content style="text-align: center;">
            <span style="font-weight: bold;">{{ r.name }}</span><br>
            <span>{{ r.storage }} GB</span><br>
            <span *ngIf="r.discount == 1; else regularPrice" style="text-decoration: line-through;">{{ r.price }} Ft</span><br>
            <ng-template #regularPrice>{{ r.price }} Ft</ng-template>
            <span *ngIf="r.discount == 1" class="discount-number">{{ r.discountprice }} Ft</span><br>
          </mat-card-content>
          <mat-card-actions>
            <button class="kosar" mat-button (click)="addCartRam(r)">Kosárba</button>
            <button mat-button (click)="checkRam(r)">Megtekint</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
  <div class="ajanlok">
    <h2>Pendrive</h2>
  </div>
  <div class="carddiv">
      <div class="card responsive-grid">
        <mat-card class="card" *ngFor="let p of pendrive">
          <mat-card-header *ngIf="p.discount==1" class="discount-header">
            <span class="discount-title">Akció</span>
          </mat-card-header>
          <img [src]="assetUrl+p.main_picture" alt="Pendrive" >
          <mat-card-content style="text-align: center;">
            <span style="font-weight: bold;">{{ p.name }}</span><br>
            <span>{{ p.storage }} GB</span><br>
            <span *ngIf="p.discount == 1; else regularPrice" style="text-decoration: line-through;">{{ p.price }} Ft</span><br>
            <ng-template #regularPrice>{{ p.price }} Ft</ng-template>
            <span *ngIf="p.discount == 1" class="discount-number">{{ p.discountprice }} Ft</span><br>
          </mat-card-content>
          <mat-card-actions>
            <button class="kosar" mat-button (click)="addCartPendrive(p)">Kosárba</button>
            <button mat-button (click)="checkPendrive(p)">Megtekint</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>

<app-footer id="footer"></app-footer>