<app-menusite></app-menusite>
<div class="center">
    <div class="wide-div">
        <h1>Üdvözlöm az oldalon!</h1>
        <p>Ez az oldal egy Szakdolgozat</p>
        <p>Címe: Hardvereszközöket árusító portál.</p>
    </div>
</div>
<div class="center">
    <div class="laptop">
      <mat-card class="card">Első kártya</mat-card>
      <mat-card class="card">Második kártya</mat-card>
      <mat-card class="card">Harmadik kártya</mat-card>
    </div>
  </div>
<div class="center">
    <div class="ssd">
        <h1>Üdvözlöm az oldalon!</h1>
        <p>Ez az oldal egy Szakdolgozat</p>
        <p>Címe: Hardvereszközöket árusító portál.</p>
    </div>
</div>
<div class="center">
    <div class="ram">
        <h1>Üdvözlöm az oldalon!</h1>
        <p>Ez az oldal egy Szakdolgozat</p>
        <p>Címe: Hardvereszközöket árusító portál.</p>
    </div>
</div>
<div class="center">
    <div class="pendrive">
        <h1>Üdvözlöm az oldalon!</h1>
        <p>Ez az oldal egy Szakdolgozat</p>
        <p>Címe: Hardvereszközöket árusító portál.</p>
    </div>
</div>


<app-footer id="footer"></app-footer>