#footer{
    position:fixed;
    bottom:0px;
    width:100%;
}

.tartalom{
    
    max-height: calc(100vh - 100px);
}
.center {
    padding: 20px;
    display: flex;
    justify-content: center; /* A tartalmat a flexboxban középre igazítja */
    align-items: center; /* A tartalmat a flexboxban függőlegesen középre igazítja */
    height: 200px; /* A teljes képernyő magasságára terjeszti ki a div-et */
}
.wide-div {
    background-color: beige; /* Bézs háttérszín */
    width: 80%; /* Teljes szélesség */
    height: 200px; /* Példa: 200px magasság */
    border-radius: 8px;

}
.wide-div h1 {
    padding-top: 40px;
    font-weight: bold; /* Vastag betűtípus a h1 elemhez */
    font-size: 32px; /* Példa: 32px-es betűméret */
    text-align: center; /* Középre igazítás */
}

.wide-div p {
    font-size: 20px; /* Példa: 20px-es betűméret */
    text-align: center; /* Középre igazítás */
}

.cim h1 {
    font-size: 3em; /* Változtasd az "em" értékét az igényeidnek megfelelően */
    font-weight: bold;
    text-align: center;
  }
.ajanlok h2{
    text-align: center;
    font-size: 2em;
}

//Kártya
.carddiv{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.card{
    padding: 24px;
    display: flex;
    justify-content: center; /* Kártyák középre igazítása */
}
image{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;//tartja a képarányt
}
.responsive-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px ,1fr));
    gap: 24px

}
mat-card-actions {
    margin-top: auto; /* A gombok az alsó részen lesznek, a tartalom fölött */
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
.kosar{
    background-color: green; /* kék háttér */
    color: white; 
}
