<div class="dialog">
    <h2 mat-dialog-title>Pendrive létrehozás</h2>
    
    <mat-dialog-content [formGroup]="form">
        <mat-form-field>
            <input matInput type="text" placeholder="Név" formControlName="name">
        </mat-form-field>
          <br>
        <mat-form-field>
            <input matInput type="text" placeholder="Sku" formControlName="sku">
        </mat-form-field>
          <br> 
          <mat-form-field>
            <input matInput type="text" placeholder="Jótállás" formControlName="warranty">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="number" placeholder="Tárhely" formControlName="storage">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="text" placeholder="Írássebesség" formControlName="writespeed">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="number" placeholder="Ár" formControlName="price">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="number" placeholder="Akciós ár" formControlName="discountprice">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-select matInput placeholder="Akció" formControlName="discount">
                <mat-option value="1">Igen</mat-option>
                <mat-option value="0">Nem</mat-option>
              </mat-select>
        </mat-form-field>
        <br>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button class="buttons"(click)="close()">Mégse</button>
        <button class="buttons"(click)="save()">Mentés</button>
    </mat-dialog-actions>
    </div>