.dialog {
  width: 500px; /* Teljes szélesség */
}



.buttons{
  background-color: #3f51b5; /* kék háttér */
  color: #FFFFFF; /* fehér szöveg */
  border-radius: 24px; /* lekerekített sarkok */
  padding: 12px 24px; /* belső térköz */
  border: none; /* nincs keret */
  font-size: 16px; /* betűméret */   
  margin: 16px 16px;
    
}

.progress-bar {
  padding: 0;
}

.progress {
  width: 50px;
}

.mat-input-element {
  font-size: medium;
  font-weight: 200;
}

#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 100%;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

.mat-form-field {
  width: 100%;
}

.message {
  background-color: #ddd;
  padding: 15px;
  color: #333;
  border: #aaa solid 1px;
  border-radius: 4px;
  margin: 15px 0;
}

.preview {
  max-width: 200px;
  vertical-align: middle;
}

.list-card {
  margin-top: 20px;
}

.list-item {
  margin-bottom: 20px;
}

//Szélesség állítás
.dialog h2, /* címsor */
.dialog mat-form-field, /* input mezők */
.dialog .preview, /* kép előnézet */
.dialog .list-item { /* lista elemek */
width: 100%; /* Teljes szélesség */
}

.dialog .mat-dialog-actions { /* gombok */
justify-content: space-around; /* Gombok középre rendezése */
}


//Kép kártya
.image-card {
  width: calc(100% - 20px); /* A kártya szélessége 100%, a margin levonásával */
  margin: 10px;
  position: relative;
}

.delete-button {
  background-color: transparent; /* Háttérszín eltávolítása */
  border: none; /* Keret eltávolítása */ 
  color: red;
}