<h2 mat-dialog-title id="title">{{ laptop.name }}</h2>
<div id="slideshow">
    <img [src]="assetUrl + imagesLaptop[i]" alt="ssd">
</div>

<span id="paginator">
    <button *ngIf="getLenght()" (click)="prev()" mat-button>Prev</button>
    <button *ngIf="getLenght()" (click)="next()" mat-button>Next</button>
</span>
<h3 id="data">Adatok</h3>
<div class="line"></div>
<span class="datas">Sku: {{ laptop.sku }}</span>
<span class="datas">Felbontás: {{ laptop.resolution }}</span>
<span class="datas">Képernyő: {{ laptop.screen }}"</span>
<span class="datas">Grafikus kártya: {{ laptop.grafic_card }}"</span>
<span class="datas">Ram: {{ laptop.ram }} GB</span>
<span class="datas">SSD: {{ laptop.ssd }} GB</span>
<span class="datas">Akkumlátor: {{ laptop.battery }}</span>
<span class="datas">Billentyűzet: {{ laptop.keyboard }}</span>
<span class="datas">Operációs rendszer: {{ getOpName(laptop.op_system_id) }}</span>
<span class="datas">Laptop típus: {{ getTypeName(laptop.laptop_type_id) }}</span>
<span class="datas">Jótállás: {{ laptop.warranty }}</span>

<span *ngIf="laptop.discount == 0" class="datas">Ár: {{ laptop.price }} Ft</span>
<span *ngIf="laptop.discount == 1" class="discount">Akciós ár: {{ laptop.discountprice }} Ft</span>




<button class="kosar" mat-button (click)="addToCart(laptop)">Kosárba</button>
<button (click)="close()" mat-button>Bezár</button>